[submodule "plugins/ide/intellij-gad"]
	path = plugins/ide/intellij-gad
	url = git@github.com:gad-lang/intellij-gad.git
[submodule "plugins/ide/vscode-gad"]
	path = plugins/ide/vscode-gad
	url = git@github.com:gad-lang/vscode-gad.git
[submodule "web/plugins/js/codemirror-gad"]
	path = web/plugins/js/codemirror-gad
	url = git@github.com:gad-lang/codemirror-gad.git
[submodule "web/plugins/js/prism-gad"]
	path = web/plugins/js/prism-gad
	url = git@github.com:gad-lang/prism-gad.git
[submodule "web/ide-react"]
	path = web/ide-react
	url = git@github.com:gad-lang/ide-react.git
	branch = main
[submodule "web/ide-vuetify"]
	path = web/ide-vuetify
	url = git@github.com:gad-lang/ide-vuetify.git
	branch = main
